/*font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;*/

/*#14: My product landing page should have
at least one media query.*/

/*#15: My product landing page should
utilize CSS flexbox at least once.*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  font-family: 'Raleway', sans-serif
}

h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
  margin: 2rem;
}

p {
  margin: 2rem;
}

.foto {
  width: 100vw;
}
/* ========= NAVIGATION =======*/

/*#13: The navbar should always be
at the top of the viewport.*/

#header {
  width: 100vw;
  margin: 0;
  background-color: #e3abab;
  display:flex;
  flex-direction: row;
}

#header-img {
  max-height: 2rem;
  margin: 1em;
}

nav#navbar {

}



/* ========= ????????  =======*/

#about {
  display: flex;
}

.portrait {
  max-width: 80vw;
  margin: 1rem;

}

/* ========= ????????  =======*/

/* ========= ????????  =======*/




/* ========= MEDIA QUERY ========*/
@media (min-width:1000px) {

}
